
		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="https://en.gravatar.com/userimage/95359107/aa8ae36409b0791e9eda7473501a2d5a?size=48" alt="misnyo@misnyo.eu" /></span>
                            <h1 id="title">Adam <br />Misnyovszki</h1>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
								<li><a href="/blog" class="skel-layers-ignoreHref"><span class="icon fa-list">Blog</span></a></li>
								<li><a href="/categories" class="skel-layers-ignoreHref"><span class="icon fa-folder-open">Categories</span></a></li>
								<li><a href="/feed.xml" class="skel-layers-ignoreHref"><span class="icon fa-rss">Feed</span></a></li>
							</ul>
						</nav>

				</div>

                {% include social.html %}

			</div>
