					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="/feed.xml" class="icon fa-rss"><span class="label">Feed</span></a></li>
                            <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                            <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                            <li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                            <li><a href="{{ site.url }}" class="icon fa-dribbble"><span class="label">Website</span></a></li>
                            <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
