#blog-post {
    width: 80%;
    margin: 3em auto;
}
#blog-post h1 {
    text-align: center;
    padding: 1em 0;
    font-size: 2em;
}
#blog-post img {
    max-width: 100%;
}
#blog-post ul {
    padding-left: 3em;
    list-style-type: square;
}
