---
layout: page
---

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Adam Misnyovszki</strong>, a Devops Engineer from Hungary, Budapest.</h2>
                                <p>I'm not in the computer industry because I like computers, but to take an eye on those f***ers. <br /><i>Felix "FX" Lindner</i></p>
							</header>

							<footer>
								<a href="#projects" class="button scrolly">Projects</a>
							</footer>

						</div>
					</section>

				<!-- Projects -->
					<section id="projects" class="two">
						<div class="container">

							<header>
								<h2 class="alt">Projects</h2>
							</header>

							<div class="row">
								<div class="4u 12u$(mobile)">
									<article class="item">
                                        <a href="https://github.com/{{ site.github_username }}" class="image fit" target="_blank"><img src="/images/linux.png" alt="Opensource projects" /></a>
										<header>
											<h3>Opensource projects</h3>
										</header>
									</article>
								</div>
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="https://hsbp.org/" class="image fit" target="_blank"><img src="https://hsbp.org/preview20" alt="Hackerspace Budapest" /></a>
										<header>
											<h3>Hackerspace Budapest</h3>
										</header>
									</article>
								</div>
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="/blog" class="image fit" target="_blank"><img src="/images/blog.png" alt="My blog" /></a>
										<header>
											<h3>My blog</h3>
										</header>
									</article>
								</div>
                            </div>
							<div class="row">
								<div class="3u 12u$(mobile)">
								</div>
								<div class="6u 12u$(mobile)">
									<article class="item">
                                        <a href="https://github.com/asciimoo/searx" class="image fit" target="_blank"><img src="/images/searx_logo.png" alt="Searx" /></a>
										<header>
											<h3>Searx - a privacy-respecting, hackable metasearch engine</h3>
										</header>
									</article>
								</div>
								<div class="3u 12u$(mobile)">
								</div>
                            </div>

							<footer>
								<a href="#cv" class="button scrolly">Curriculum Vitae</a>
							</footer>

						</div>
					</section>

				<!-- Curriculum Vitae -->
					<section id="cv" class="three">
						<div class="container">

							<header>
								<h2 class="alt">Curriculum Vitae</h2>
							</header>

							<div class="row">
								<div class="3u 12u$(mobile)">
								</div>

								<div class="3u 12u$(mobile)">
									<article class="item">
                                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="image fit" target="_blank"><img src="https://en.gravatar.com/userimage/95359107/aa8ae36409b0791e9eda7473501a2d5a?size=256" /></a>
										<header>
											<h3>LinkedIn profile</h3>
										</header>
									</article>
								</div>

								<div class="3u 12u$(mobile)">
									<article class="item">
                                        <a href="Adam_Misnyovszki_Devops_CV.pdf" class="image fit" target="_blank"><img src="images/file-pdf-o.png"></a>
										<header>
											<h3>Curriculum Vitae</h3>
										</header>
									</article>
								</div>

								<div class="3u 12u$(mobile)">
								</div>
                            </div>

							<footer>
                                <a href="#awards" class="button scrolly">Awards</a>
							</footer>

						</div>
					</section>

				<!-- Awards -->
					<section id="awards" class="three">
						<div class="container">

							<header>
								<h2 class="alt">Awards</h2>
							</header>

							<div class="row">
								<div class="4u 12u$(mobile)">
								</div>

								<div class="4u 12u$(mobile)">
									<article class="item">
                                        <a href="https://bsidesbud.com/2017/03/10/results-of-bsidesbud-2017-ctf/" class="image fit" target="_blank"><img src="https://bsidesbud.com/wp-content/uploads/2017/01/small_logo_website.png" /></a>
										<header>
											<h3>BSidesBUD2017 IT security CTF 2nd place</h3>
										</header>
									</article>
								</div>

								<div class="4u 12u$(mobile)">
								</div>
                            </div>

							<footer>
								<a href="#contact" class="button scrolly">Contact</a>
							</footer>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
                                <h3>+36 70 656 8792</h3>
							</header>

                        {% include social.html %}

						</div>
					</section>

