---
layout: default
---

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Adam Misnyovszki</strong>, a Devops Engineer from Hungary, Budapest.</h2>
                                <p>I'm not in the computer industry because I like computers, but to take an eye on those f***ers. <br /><i>Felix "FX" Lindner</i></p>
							</header>

							<footer>
								<a href="#projects" class="button scrolly">Projects</a>
							</footer>

						</div>
					</section>

				<!-- Projects -->
					<section id="projects" class="two">
						<div class="container">

							<header>
								<h2 class="alt">Projects</h2>
							</header>

							<div class="row">
								<div class="3u 12u$(mobile)">
								</div>
								<div class="3u 12u$(mobile)">
									<article class="item">
										<a href="https://hsbp.org/" class="image fit" target="_blank"><img src="https://hsbp.org/preview20" alt="Hackerspace Budapest" /></a>
										<header>
											<h3>Hackerspace Budapest</h3>
										</header>
									</article>
								</div>
								<div class="3u 12u$(mobile)">
									<article class="item">
										<a href="https://github.com/misnyo" class="image fit" target="_blank"><img src="images/linux.png" alt="Opensource projects" /></a>
										<header>
											<h3>Opensource projects</h3>
										</header>
									</article>
								</div>
								<div class="3u 12u$(mobile)">
								</div>
                            </div>

							<footer>
								<a href="#cv" class="button scrolly">Curriculum Vitae</a>
							</footer>

						</div>
					</section>

				<!-- Curriculum Vitae -->
					<section id="cv" class="three">
						<div class="container">

							<header>
								<h2 class="alt">Curriculum Vitae</h2>
							</header>

							<div class="row">
								<div class="3u 12u$(mobile)">
								</div>

								<div class="3u 12u$(mobile)">
									<article class="item">
                                        <a href="https://www.linkedin.com/in/misnyo" class="image fit" target="_blank"><img src="https://www.linkedin.com/mpr/mpr/p/2/005/052/114/1769c5c.jpg" /></a>
										<header>
											<h3>LinkedIn profile</h3>
										</header>
									</article>
								</div>

								<div class="3u 12u$(mobile)">
									<article class="item">
                                        <a href="Adam_Misnyovszki_Devops_CV.pdf" class="image fit" target="_blank"><img src="images/file-pdf-o.png"></a>
										<header>
											<h3>Curriculum Vitae</h3>
										</header>
									</article>
								</div>

								<div class="3u 12u$(mobile)">
								</div>
                            </div>

							<footer>
								<a href="#contact" class="button scrolly">Contact</a>
							</footer>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
                                <h3>+36 70 656 8792</h3>
							</header>

                        <!-- Social Icons -->
                            <ul class="icons">
                                <li><a href="https://www.linkedin.com/in/misnyo" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                                <li><a href="https://twitter.com/misnyo" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                                <li><a href="https://github.com/misnyo" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                                <li><a href="https://misnyo.github.io" class="icon fa-dribbble"><span class="label">Website</span></a></li>
                                <li><a href="mailto:misnyo@misnyo.eu" class="icon fa-envelope"><span class="label">Email</span></a></li>
                            </ul>

						</div>
					</section>

